<h1><%= @categories.name %></h1>
<p><strong>Published:</strong> <%= @categories.created_at %></p>
<p><strong>Published:</strong> <%= @categories.updated_at %></p>
<%= link_to 'Back to category', categories_path %> 